<div class="lines editor-panel">
    <ion-item-divider (click)="lineEditorShowing = !lineEditorShowing">
        <h2 text-center>Lines&nbsp;<ion-icon [name]="lineEditorShowing ? 'arrow-up' : 'arrow-down'"></ion-icon></h2>
    </ion-item-divider>

    <ion-row align-items-center [hidden]="!lineEditorShowing">
        <ion-col>
            <h6 text-center>Color</h6>
            <ion-item no-lines>
                <ion-input type="color" value="{{lineFeatures.strokeColor}}"
                           (change)="onLineColorChange($event)"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col>
            <h6 text-center>Thickness</h6>
            <ion-item no-lines>
                <ion-row align-items-center>
                    <ion-col>
                        <button [disabled]="!allowStrokeWidthIncrease" ion-button full (click)="onStrokeWidthChange(1)">
                            <ion-icon name="arrow-up"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col text-center>
                        <strong>{{lineFeatures.strokeWidth}}</strong>{{constants.sizeUnits}}
                    </ion-col>
                    <ion-col>
                        <button [disabled]="!allowStrokeWidthDecrease" ion-button full
                                (click)="onStrokeWidthChange(-1)">
                            <ion-icon name="arrow-down"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-col>
    </ion-row>
</div>
